body{
    background-color: rgb(173, 173, 224);
    font: normal 20pt arial;
    padding: 70px;
    border-radius: black 5px;
}

header{
    color: white;
    text-align: center;
}

div{
    text-align: center;
}

#img{
    padding-left: -50px;
}

section{
    background-color: white;
    border-radius: 10px ;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
